.header {
  background-color: hsl(180, 29%, 50%);
  margin-bottom: 10rem;
}

.header_img {
  background: url('./assets/bg-header-mobile.svg');
  height: 150px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

.main {
  padding-bottom: 3rem;
}

.card {
  position: relative;
  max-width: 350px;
  margin: 0 auto;
  background-color: white;
  -webkit-box-shadow: 3px 12px 18px -6px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 3px 12px 18px -6px rgba(0, 0, 0, 0.51);
  box-shadow: 3px 12px 18px -6px rgba(0, 0, 0, 0.51);
  border-radius: 10px;
  padding: 2rem;
}

.border-right {
  border-left: 5px solid hsl(180, 29%, 50%);
}

.logo {
  position: absolute;
  top: -30px;
  width: 65px;
}

.company {
  display: inline-flex;
  padding: 0.5rem 0;
  align-items: center;
  flex-wrap: wrap;
}

h4 > span {
  margin-left: 0.8rem;
  background-color: hsl(180, 29%, 50%);
  color: white;
  padding: 0.5rem;
  border-radius: 80px;
  text-transform: uppercase;
}

.list {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.list li {
  margin-right: 1rem;
}

li:nth-of-type(1) {
  list-style: none;
}

.position,
.others,
hr {
  margin-bottom: 1.3rem;
}
.position {
  font-weight: 700;
  cursor: pointer;
}

.position:hover {
  color: hsl(180, 29%, 50%);
}

.roles {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.roles button,
.filtered_cat {
  background: hsl(180, 52%, 96%);
  color: hsl(180, 29%, 50%);
  font-weight: 700;
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
}
.filtered_cat {
  position: relative;
  margin-inline: 0.5rem;
}
.filtered_cat button {
  color: hsl(180, 52%, 96%);
  background: hsl(180, 29%, 50%);
  border: none;
  padding: 0.2rem 0.5rem;
  position: absolute;
  font-size: 1rem;
  height: 100%;
  top: 0;
  font-weight: 700;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.roles button:hover {
  color: hsl(180, 52%, 96%);
  background: hsl(180, 29%, 50%);
}

.category {
  position: absolute;
  max-width: 350px;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 100px;
  background-color: white;
  -webkit-box-shadow: 3px 12px 18px -6px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 3px 12px 18px -6px rgba(0, 0, 0, 0.51);
  box-shadow: 3px 12px 18px -6px rgba(0, 0, 0, 0.51);
  border-radius: 5px;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category div {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.clear_btn {
  background: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: hsl(180, 29%, 50%);
}

@media (min-width: 935px) {
  .card {
    display: flex;
    justify-content: space-between;
    max-width: 90%;
  }
  hr {
    display: none;
  }
  .roles {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .logo {
    position: relative;
    top: 0;
    width: 100px;
    height: 100px;
    display: inline-block;
  }
  .info {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 1rem;
  }

  .roles {
    flex: 1;
  }

  .category {
    max-width: 90%;
  }
}
